@model YungchingDemo.Models.ViewModel.OrderModel;
@{
    ViewData["Title"] = "訂單管理";
}

<style>
    .hideElement{
        display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Create Order">
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
            {
                <input type="search" name="keyword" class="form-control" placeholder="請輸入關鍵字" />
            }
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">訂單編號</th>
            <th scope="col">客戶編號</th>
            <th scope="col">員工編號</th>
            <th scope="col">訂購日期</th>
            <th scope="col">預計到達日期</th>
            <th scope="col" class="hideElement">發貨日期</th>
            <th scope="col">運貨商</th>
            <th scope="col">運費</th>
            <th scope="col">貨主姓名</th>
            <th scope="col" class="hideElement">貨主地址</th>
            <th scope="col">貨主所在城市</th>
            <th scope="col" class="hideElement">貨主所在地區</th>
            <th scope="col" class="hideElement">貨主郵編</th>
            <th scope="col">貨主所在國家</th>
            <th colspan="2">
                Functions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
        <tr>
            <th scope="row">@item.OrderId</th>
            <th scope="row">@item.CustomerId</th>
            <th scope="row">@item.EmployeeId</th>
            <th scope="row">@item.OrderDate.GetValueOrDefault().ToString("yyyy-MM-dd")</th>
            <th scope="row">@item.RequiredDate.GetValueOrDefault().ToString("yyyy-MM-dd")</th>
            <th scope="row" class="hideElement">@item.ShippedDate.GetValueOrDefault().ToString("yyyy-MM-dd")</th>
            <th scope="row">@item.ShipVia</th>
            <th scope="row">@item.Freight</th>
            <th scope="row">@item.ShipName</th>
            <th scope="row" class="hideElement">@item.ShipAddress</th>
            <th scope="row">@item.ShipCity</th>
            <th scope="row" class="hideElement">@item.ShipRegion</th>
            <th scope="row" class="hideElement">@item.ShipPostalCode</th>
            <th scope="row">@item.ShipCountry</th>
            <th colspan="2">

                <a class="text-dark" href="/Orders/Details/@item.OrderId">
                    <input type="button" class="btn btn-success" value="Detail" />
                </a>
                <a class="text-dark" href="/Orders/Edit/@item.OrderId">
                    <input type="button" class="btn btn-info" value="Edit" />
                </a>
                <a class="text-dark" href="/Orders/Delete/@item.OrderId">
                    <input type="button" class="btn btn-danger" value="Delete" />
                </a>

            </th>
        </tr>
        }
    </tbody>
</table>