@model YungchingDemo.Models.ViewModel.ProductModel;

@{
    ViewData["Title"] = "產品管理";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="/Products/create">
                <input type="button" class="btn btn-primary" value="Create Product">
            </a>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "form-group row" }))
            {
            <input type="search" name="keyword" class="form-control col-md-4" placeholder="請輸入關鍵字" />
            <input type="submit" class="btn btn-warning col-md-2" value="Search" />
            }
        </div>
    </div>
</div>
<form asp-action="Index" asp-controller="Products" method="post">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">產品ID</th>
                <th scope="col">產品名稱</th>
                <th scope="col">供應商ID</th>
                <th scope="col">型別ID</th>
                <th scope="col">數量</th>
                <th scope="col">單價</th>
                <th scope="col">庫存數量</th>
                <th scope="col">訂購量</th>
                <th scope="col">再次訂購量</th>
                <th scope="col">中止</th>
                <th colspan="2">
                    Functions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
            <tr>
                <th scope="row">@item.ProductId</th>
                <th scope="row">@item.ProductName</th>
                <th scope="row">@item.SupplierId</th>
                <th scope="row">@item.CategoryId</th>
                <th scope="row">@item.QuantityPerUnit</th>
                <th scope="row">@item.UnitPrice</th>
                <th scope="row">@item.UnitsInStock</th>
                <th scope="row">@item.UnitsOnOrder</th>
                <th scope="row">@item.ReorderLevel</th>
                <th scope="row">@item.Discontinued</th>
                <th colspan="2">

                    <a class="text-dark" href="/Products/Details/@item.ProductId">
                        <input type="button" class="btn btn-success" value="Detail" />
                    </a>
                    <a class="text-dark" href="/Products/Edit/@item.ProductId">
                        <input type="button" class="btn btn-info" value="Edit" />
                    </a>
                    <a class="text-dark" href="/Products/Delete/@item.ProductId">
                        <input type="button" class="btn btn-danger confirmation" value="Delete" />
                    </a>

                </th>
            </tr>
            }
        </tbody>
    </table>
    <br />

</form>
<div class="row">
    <div class="col-lg-12">

        @await Component.InvokeAsync("Pagination")

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $('.confirmation').on('click', function () {
        @*var callUrl = "api/web/@Model.ProductId"
        $.ajax({
            type: "DELETE",
            url: callUrl
        }).done(function (res) {
            $('#aError').trigger('click');
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $('#aError').trigger('click');
        });*@
        return confirm('Are you sure delete?');
    });
</script>
